/*IMPORTANDO FONTES COM GOOGLEFONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


/*DECLARANDO ATRIBUTOS PADRÕES(FONTES E CORES*/
:root {
    --font2:'WindSong', cursive;
    --font1:'Bodoni Moda', serif;
    --cor1: #4A705B;
    --cor2: #435963;
    --cor3: #C6D5B4;
    --cor4: #7F8D94;
  }

/*DECLARANDO PROPRIEDADES DA PAGINA*/
*{
  box-sizing: border-box;
}

body{
    margin: 0px;
    padding:0px;
    font-family: var(--font1);
    background-color: var(--cor3);
}


/*DECLARANDO PROPRIEDADES DO CABEÇALHO*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    font-family: var(--font2);
    font-size: x-large;
    background-color: var(--cor1);
    padding: 0.3rem;
    height: 5vh;
}


#menu{
  font-family: var(--font1);
}

#menu ul{
  padding: 0px;
  margin: 0px;
  position: fixed;
  display: block;
  left: -200%;
  list-style: none;
  text-align: center;
  transition: all .5s ;
  color: var(--cor2);
  background-color: var(--cor3);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

#menu ul li{
  padding: 1vh;
  border-bottom: 1px solid grey;
}

#menu #check:checked ~ ul{
  left: 0;
}

#indice{
  font-size: small;
  overflow: auto;
  white-space: nowrap;
  background-color: var(--cor3);
}

#indice ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

#indice ul li{
  border-left: 1px solid black;
  word-spacing: 0px;
  padding: 2px;
  margin: 0px;
  padding-left: 10px;
}

#whats{
  position: fixed;
  font-size: xxx-large;  
  color: white;
  right: 10px;
  margin-top: 30vh;
}

.titulo{
  text-align: center;
  color: black;
  font-size: large;
  font-weight: bolder;
}

.novidades{
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 60vw;
}

.botao3{
  width: 100%;
  justify-content: space-between;
  position: absolute;
  display: flex;
}

.item2{
  margin-left: 10px;
}

.item2:first-child{
  margin-left: 0px;
}

.item img{
  width: 100vw;
}

.item2 img{
  width: 50vw;
}

.preco{
  background-color: var(--cor3);
  text-align: center;
  font-size: large;
  font-weight: bold;
}

footer{
  background-color: black;
  color: var(--cor3);
}

footer ul{
  list-style: none;
  columns: 2;
  font-size: smaller;
  margin-bottom: 0px;
}


@media (min-width:600px){
  body{
    background-color: blue;
  }
}
